body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('calback.png'); 
    background-size: cover;
    background-position: 0dvh;

}

.container {
    background-color: lightgoldenrodyellow;    
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
}

.container h2 {
    margin-bottom: 15px;
    color: #333;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px #7ab8ff;
}

button {
    width: 95%;
    padding: 10px;
background-color: rgba(97, 7, 7, 0.632);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #d37b17;
}
