* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0b0b0bd0, #090909c6);
}

.calculator {
    width: 340px;
    padding: 25px;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(15px);
    border-radius: 25px;
    box-shadow: 0 15px 30px rgba(239, 238, 238, 0.3);
}


#viewvalue {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
    border: none;
    border-radius: 15px;
    text-align: right;
    background: rgba(255, 255, 255, 0.315);
    color: #0c0c0c;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.358);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

input[type="button"] {
    padding: 20px;
    font-size: 1.4rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: 700;
    box-shadow: 0 6px 10px rgba(0,0,0,0.2);
    transition: 0.2s all;
}

input[type="button"]:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.25);
}

.operator, .equal, .function {
    background-color: #ff9a3c;
}


.zero {
    grid-column: span 2;
}
